<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.luckytruedev.shitposting"
    android:installLocation="preferExternal">

    <uses-sdk tools:overrideLibrary="android.support.design, android.support.v4, android.support.compat, android.arch.lifecycle, android.support.mediacompat
                                        android.support.coreutils,android.support.mediacompat, android.support.coreutils, android.support.coreui, android.support.fragment
                                        android.support.v7.appcompat, android.support.fragment, android.support.v7, android.support.v7.appcompat, android.support.graphics.drawable
                                        android.support.v7.recyclerview, android.support.graphics.drawable, android.support.v7.recyclerview, android.support.v7.palette
                                        com.google.firebase.messaging, com.google.firebase.messaging, com.google.firebase.firebase_invites, com.google.android.gms.appinvite
                                        com.google.firebase.dynamiclinks, com.google.android.gms.appinvite, com.google.firebase.dynamiclinks, com.google.firebase.firebase_ads
                                        com.google.android.gms.ads.impl, com.google.firebase.firebase_ads, com.google.android.gms.ads.impl, com.google.android.gms.ads
                                        com.google.android.gms.gass, com.google.android.gms.ads, com.google.android.gms.gass, com.google.firebase.storage, com.google.firebase.auth.api
                                        com.google.firebase.firebase_core, com.google.firebase.auth.api, com.google.firebase.firebase_core, com.google.android.gms.measurement
                                        com.google.android.gms.measurement.impl, com.google.android.gms.measurement, com.google.android.gms.measurement.impl, com.google.firebase.iid
                                        com.google.firebase, com.google.firebase.iid, com.google.firebase, com.google.android.gms.auth.api, com.google.android.gms.auth
                                        com.google.android.gms.base, com.google.android.gms.auth, com.google.android.gms.base, com.google.android.gms.tasks, com.google.android.gms
                                        android.support.v7.palette, com.google.android.gms, android.support.v7.palette, io.salyangoz.updateme, com.google.firebase.remoteconfig
                                        com.yarolegovich.lovelydialog, com.google.firebase.remoteconfig, com.yarolegovich.lovelydialog, android.support.v7.cardview, com.onesignal,
                                        com.google.android.gms.gcm, com.google.android.gms.iid, com.google.android.gms.location, com.google.android.gms.iid, com.google.android.gms.location
                                        com.facebook.accountkit, com.facebook.accountkit, android.support.customtabs, android.support.transition, android.support.graphics.drawable.animated"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

     <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />

    <application
        android:name=".ShitMutipleTag"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="id.luckytruedev.shitposting.notifikasi.Notifikasi"
            android:noHistory="true"
            android:screenOrientation="portrait" />

    </application>

</manifest>